.nav {
  padding-left: 2.68vh;
  padding-right: 2.6vh;
  color: white !important;
}

.logo {
  height: 4vh;
  width: auto;
}

.welcometo {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 9.3vh;
  padding-top: 23vh;
  text-shadow: 15px 15px 40px white;
}

.rendezvous {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 13vh;
  text-shadow: 15px 15px 40px white;
}
.connect {
  font-family: "Qwitcher Grypen", cursive;
  color: white;
  font-size: 50px;
  text-align: right;
  padding-top: 100px;
  padding-right: 150px;
  padding-bottom: 130px;
  text-shadow: 15px 15px 40px white;
}

.about {
  font-size: 100px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 100px;
}

.navbar {
  background-color: #04173c !important;
}

.about {
  font-size: 100px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 10vh;
}

.line {
  background-color: rgba(6, 38, 103, 0.83);
  min-height: 4.2vh;
  border: 0px;
}

.desc {
  font-size: 30px;
  margin-left: 30vw;
  margin-right: 30vw;
  color: white;
  padding-bottom: 200px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

@media only screen and (max-width: 900px) {
  .logo {
    height: 20px;
    width: auto;
  }

  .welcometo {
    font-size: 50px;
  }

  .rendezvous {
    font-size: 80px;
  }

  .connect {
    font-size: 40px;
  }

  .desc {
    font-size: 30px;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media only screen and (max-width: 570px) {
  .welcometo {
    font-size: 40px;
  }

  .rendezvous {
    font-size: 50px;
  }

  .desc {
    font-size: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
  }
  .about {
    font-size: 40px;
  }

  .connect {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .welcometo {
    font-size: 20px;
  }

  .rendezvous {
    font-size: 30px;
  }

  .desc {
    font-size: 15px;
  }
  .about {
    font-size: 30px;
  }

  .connect {
    font-size: 18px;
  }
}

.navbarlink a {
  color: #fff !important;
  padding-left: 20px !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.navbar-toggler-icon {
  color: #fff !important;
}
