.nav {
  padding-left: 2.68vh;
  padding-right: 2.6vh;
  color: white !important;
}

.logo {
  height: 30px;
  width: auto;
}

.welcometo {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 70px;
  padding-top: 100px;
  text-shadow: 15px 15px 40px white;
}

.rendezvous {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  font-size: 100px;
  text-shadow: 15px 15px 40px white;
}
.connect {
  font-family: "Qwitcher Grypen", cursive;
  color: white;
  font-size: 50px;
  text-align: right;
  padding-top: 100px;
  padding-right: 150px;
  padding-bottom: 130px;
  text-shadow: 15px 15px 40px white;
}

.about {
  font-size: 100px;
  color: white;
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 100px;
.navbar{
    background-color: rgba(6, 38, 103, 0.83) !important;
}

.about{
    font-size: 100px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 100px;
}

.line {
  background-color: rgba(6, 38, 103, 0.83);
  min-height: 4.2vh;
  border: 0px;
  padding-top: 10px;
}

.desc {
  font-size: 30px;
  margin-left: 40vh;
  margin-right: 40vh;
  color: white;
  padding-bottom: 200px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

@media only screen and (max-width: 900px) {
  .logo {
    height: 20px;
    width: auto;
  }

  .welcometo {
    font-size: 50px;
  }

  .rendezvous {
    font-size: 80px;
  }

  .connect {
    font-size: 40px;
  }

  .desc {
    font-size: 30px;
    margin-left: 40vh;
    margin-right: 40vh;
  }
}

@media only screen and (max-width: 570px) {
  .welcometo {
    font-size: 40px;
  }

  .rendezvous {
    font-size: 50px;
  }

  .desc {
    font-size: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
  }
  .about {
    font-size: 40px;
  }

  .connect {
    font-size: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .welcometo {
    font-size: 20px;
  }

  .rendezvous {
    font-size: 30px;
  }

  .desc {
    font-size: 15px;
  }
  .about {
    font-size: 30px;
  }

  .connect {
    font-size: 18px;
  }
}
    margin-left: 500px;
    margin-right: 500px;
    color: white;
    padding-bottom: 300px;
    text-align: center;
}

.navbarlink a{
    color: #fff !important;
    padding-left: 20px !important;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.navbar-toggler-icon{
    color:#fff !important;
}
