.box{
    color: #041828;
    text-align: center;
    font-size: 80px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 20px;
    background-color: white;
    margin-left: 62vh;
    margin-right: 62vh;
    border-radius: 20px;
    border-width: 20px;
    border-color: #0e5a82 ;
    border-style: solid;
    margin-top: 20px;
    padding-bottom: 32px !important;
    padding-top: 10px;
}

.name{
    font-size: 25px;
    margin-left: 30px;
    padding-bottom: 30px;
}
.bttn{
    height: 20px;
    padding-bottom: 39px;
}